<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MakoIoT.Device.Services.Interface" version="1.0.57.48509" targetFramework="netnanoframework10" />
  <package id="MakoIoT.Device.Services.Server" version="1.0.98.18895" targetFramework="netnanoframework10" />
  <package id="MakoIoT.Device.Utilities.String" version="1.0.44.38123" targetFramework="netnanoframework10" />
  <package id="nanoFramework.CoreLibrary" version="1.17.11" targetFramework="netnanoframework10" />
  <package id="nanoFramework.DependencyInjection" version="1.1.32" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Graphics" version="1.2.45" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Graphics.Core" version="1.2.45" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Hardware.Esp32" version="1.6.34" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Iot.Device.DhcpServer" version="1.2.878" targetFramework="netnano1.0" />
  <package id="nanoFramework.Json" version="2.2.203" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Networking.Sntp" version="1.6.42" targetFramework="netnanoframework10" />
  <package id="nanoFramework.ResourceManager" version="1.2.32" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.11.32" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.7.11" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.5.67" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.57" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Device.I2c" version="1.1.29" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Pwm" version="1.1.23" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Wifi" version="1.5.134" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.FileSystem" version="1.1.87" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.IO.Streams" version="1.1.96" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Math" version="1.5.116" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net" version="1.11.43" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net.Http" version="1.5.196" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.3.42" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Threading" version="1.1.52" targetFramework="netnanoframework10" />
  <package id="TekuSP.Drivers.CST816D" version="0.4.596" targetFramework="netnano1.0" />
  <package id="TekuSP.Drivers.DriverBase" version="0.4.596" targetFramework="netnano1.0" />
  <package id="TekuSP.Drivers.DriverBaseI2C" version="0.4.596" targetFramework="netnano1.0" />
</packages>